<?xml version="1.0" encoding="UTF-8"?>
<!-- id is your reserved app-id on various app stores. It is in reverse-domain name style -->
<!-- This is version number of app in x.y.z format where (x,y,z) are positive integers i.e. 1.0.0, it represents major.minor.patch version system.-->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.zester.sums"
        version   = "1.0">

		<!-- This is name of app, which will be displayed below app icon on mobile screen. Your app can be searched using this name. -->
    <name>IEEMA PV Calculator</name>

		<!-- This is a brief description of what is the app about, and what it is. -->
    <description>
        This App Calculates PV
    </description>

		<!-- This field contains name of the creator or programmer, generally set to the name of organization which is launching this app. -->
    <author href="www.facebook.com/sumanyu.soniwal" email="sumanyu.soniwal@gmail.com">
        Sumanyu Soniwal
    </author>

		<!-- The preferences tag is used to set various options like FullScreen, BackgroundColor and Orientation for app. These options are in name and value pair. For example : name="FullScreen" value="true" etc. Because we do not require any of these advance settings, we just put permissions to none. -->
	
    <preference name="permissions" value="none"/>


	<!-- Allows us to add icons to our apps. It can be coded in various ways, but we are learning short-cut of everything, so here it is. The .src determines the path of icon image. The gap:platform determines for which OS platform this icon is to be used. The gap:qualifier is density that is used by android devices. The iOS devices use width & height parameters. -->
	
	
    <icon src="res/icon/android/drawable-ldpi/ic_launcher.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="res/icon/android/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="res/icon/android/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="res/icon/android/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="res/icon/android/drawable-xxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xxhdpi" />
	 <icon src="res/icon/android/drawable-xxxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xxxhdpi" />
    
    <icon src="res/icon/ios/Icon-72.png" gap:platform="ios" gap:qualifier=""/>
    
    <icon src="res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144" />
    

</widget>